tmp
/bin/*.ilk
/bin/*.pdb
.vs
*.lib
/bin/*.exp
*.un~
/bin/*.exe
/bin/*.dll
/lib/*.dll
tmp_
/doc/Formwork_h.txt
/doc/makefile_template.txt
/doc/Node.txt
/doc/PreCompilefile (2).txt
/doc/PreCompilefile.txt
/doc/tstBPMN.eap
/doc/Use case Template.xls
/doc/VIN_TOOLS.txt
/doc/vmLog.EAP
/doc/vmLog.ldb
/doc/vmOpencvDemo.EAP
/doc/vmTools kit .eap
/doc/vmTools v 1.0.0.0 .eap
/doc/vmTools v 1.0.0.0 .ldb
/doc/vmTools.eap
/doc/vmTools.ldb
